@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.beetlebugs2,
.communications-inc2 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.beetlebugs2 {
  font-weight: 600;
  width: 258px;
  height: 36.3px;
}
.communications-inc2 {
  font-size: 25px;
  width: 249px;
  height: 48px;
}
.beetlebugs-container {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.work2 {
  text-decoration: none;
  color: inherit;
}
.about4,
.work2 {
  position: relative;
  cursor: pointer;
}
.work-container {
  width: 406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}
.group-icon8 {
  position: relative;
  width: 38.7px;
  height: 38.7px;
}
.group-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
}
.hamburger-icon1 {
  position: relative;
  width: 42px;
  height: 30px;
  display: none;
}
.frame-parent2,
.navbar1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar1 {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  padding: 26px 40px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 37.76px;
}
.who-we-are {
  position: relative;
  line-height: 130%;
  display: inline-block;
  width: 602px;
}
.hero1,
.who-we-are-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.who-we-are-wrapper {
  width: 100%;
  align-items: flex-start;
  padding: 80px 40px;
  opacity: 0;
  max-width: 1200px;
}
.who-we-are-wrapper.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.hero1 {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  padding: 0 40px;
  background-image: url(./public/hero1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 470px;
  font-size: 60px;
  color: #fff;
}
.at-beetle-bugs {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 1200;
}
.about5,
.at-beetle-bugs-communication-i-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.at-beetle-bugs-communication-i-wrapper {
  flex: 1;
  padding: 0 40px;
  box-sizing: border-box;
  max-width: 1200px;
}
.about5 {
  align-self: stretch;
  background-color: #fff;
  padding: 80px 0;
}
.statistics-1-icon {
  position: relative;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.grow {
  position: relative;
  font-weight: 500;
}
.through-our-array {
  margin: 0;
}
.through-our-array-container {
  position: relative;
  display: inline-block;
  width: 308px;
}
.statistics-1-parent {
  width: 345px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 27px 0;
  box-sizing: border-box;
  gap: 21px;
}
.the-creative-minds {
  position: relative;
  display: inline-block;
  width: 314px;
}
.statistics-1-group {
  width: 345px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 27px 31px;
  box-sizing: border-box;
  gap: 21px;
}
.frame-parent3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 0;
  box-sizing: border-box;
  gap: 78px;
  max-width: 1200px;
  text-align: justify;
  font-size: 16px;
}
.want-to-see1 {
  align-self: stretch;
  position: relative;
  line-height: 75px;
}
.schedule-a-meeting2 {
  position: relative;
  line-height: 28.47px;
  font-weight: 600;
}
.schedule-a-meeting-frame {
  border-radius: 52.73px;
  background-color: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18.983261108398438px 59.05903625488281px;
  cursor: pointer;
  text-align: left;
  font-size: 16.87px;
  color: #fff;
}
.cta-section1,
.want-to-see-the-kind-of-magic-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.want-to-see-the-kind-of-magic-group {
  width: 100%;
  justify-content: flex-start;
  padding: 0 40px;
  gap: 70px;
  max-width: 1200px;
}
.cta-section1 {
  align-self: stretch;
  background-color: #fff;
  height: 479px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 80px 0;
  text-align: center;
  font-size: 45px;
}
.beetlebugs3 {
  position: relative;
  font-weight: 600;
}
.communications-inc3 {
  position: relative;
  font-size: 22.97px;
}
.beetlebugs-parent1 {
  height: 58.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fast-growing-dynamic-creativ1 {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 224px;
}
.group-parent1 {
  width: 222px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent5,
.quick-links-group,
.work-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent5 {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  font-size: 34.68px;
}
.quick-links-group,
.work-parent1 {
  justify-content: center;
}
.work-parent1 {
  gap: 19px;
  text-align: left;
  font-size: 20px;
}
.quick-links-group {
  overflow: hidden;
  padding: 20px;
  gap: 16px;
  text-align: center;
}
.call-sharp-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div1 {
  position: relative;
}
.call-sharp-group {
  gap: 15px;
  font-family: Arial;
}
.call-sharp-group,
.home-sharp-group,
.lorem-ipsum-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lorem-ipsum-container {
  width: 76px;
}
.home-sharp-group {
  gap: 22px;
}
.mail-sharp-icon1 {
  position: relative;
  width: 22px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.mail-sharp-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.frame-parent6 {
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  font-size: 15px;
}
.contact-us-group,
.frame-parent4,
.frame-parent6 {
  display: flex;
  align-items: flex-start;
}
.contact-us-group {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 15px;
}
.frame-parent4 {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
  max-width: 1200px;
}
.beetlebugs-communcations-inc1 {
  position: relative;
  font-size: 16.87px;
  font-weight: 600;
}
.about3,
.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer1 {
  align-self: stretch;
  background-color: #050505;
  overflow: hidden;
  justify-content: center;
  padding: 60px 0;
  gap: 71px;
  color: #fff;
}
.about3 {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Raleway;
}
@media screen and (max-width: 1200px) {
  .who-we-are-wrapper {
    width: 100%;
  }
  .at-beetle-bugs {
    max-width: 1200px;
  }
  .at-beetle-bugs-communication-i-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .group-container {
    display: none;
  }
  .hamburger-icon1 {
    display: flex;
  }
  .who-we-are-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .group-container,
  .work-container {
    display: none;
  }
  .hamburger-icon1 {
    display: flex;
  }
  .navbar1 {
    width: 100vw;
  }
  .who-we-are {
    width: 380px;
    font-size: 30px;
    line-height: 60px;
  }
  .who-we-are-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .at-beetle-bugs {
    font-size: 16px;
    flex: 1;
  }
  .at-beetle-bugs-communication-i-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .about5 {
    padding: 40px;
  }
  .want-to-see1 {
    font-size: 30px;
    line-height: 50px;
  }
  .schedule-a-meeting-frame {
    scale: 0.8;
  }
  .frame-parent4 {
    width: auto;
    align-self: unset;
    max-width: 1200px;
  }
}
