* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.beetlebugs4,
.communications-inc4 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.beetlebugs4 {
  font-weight: 600;
  width: 258px;
  height: 36.3px;
}
.communications-inc4 {
  font-size: 25px;
  width: 249px;
  height: 48px;
}
.beetlebugs-parent1 {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.home5 {
  text-decoration: none;
  color: inherit;
}
.about6,
.home5 {
  position: relative;
  cursor: pointer;
}
.home-parent2 {
  width: 406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}
.vector-icon28,
.vector-icon29 {
  position: absolute;
  height: 99.22%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.78%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon29 {
  height: 80.36%;
  width: 42.64%;
  top: 19.64%;
  right: 27.91%;
  bottom: 0;
  left: 29.46%;
}
.group16 {
  text-decoration: none;
  position: relative;
  width: 38.7px;
  height: 38.7px;
}
.group-icon4,
.vector-icon30,
.vector-icon32,
.vector-icon34 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon4,
.vector-icon32,
.vector-icon34 {
  height: 58.66%;
  width: 58.66%;
  top: 20.67%;
  right: 20.67%;
  bottom: 20.67%;
  left: 20.67%;
}
.vector-icon32,
.vector-icon34 {
  height: 44.96%;
  width: 54.52%;
  top: 27.39%;
  right: 22.22%;
  bottom: 27.65%;
  left: 23.26%;
}
.vector-icon34 {
  height: 38.24%;
  width: 54.78%;
  top: 30.75%;
  right: 23.26%;
  bottom: 31.01%;
  left: 21.96%;
}
.group-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
}
.hamburger-icon2 {
  position: relative;
  width: 42px;
  height: 30px;
  display: none;
}
.frame-parent6,
.navbar2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar2 {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  padding: 26px 40px;
  box-sizing: border-box;
  max-width: 100%;
}
.our-clients1 {
  position: relative;
  line-height: 130%;
  display: inline-block;
  width: 602px;
}
.hero2,
.our-clients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.our-clients-wrapper {
  width: 100%;
  align-items: flex-start;
  padding: 80px 40px;
  opacity: 0;
  max-width: 1200px;
}
.our-clients-wrapper.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.hero2 {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  padding: 0 40px;
  background-image: url(./public/hero2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 470px;
  font-size: 60px;
  color: #fff;
}
.frame-child {
  position: relative;
  width: 357px;
  height: 332px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper {
  height: 333px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-icon,
.frame-inner,
.frame-item {
  position: relative;
  width: 343px;
  height: 332px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-icon,
.frame-inner {
  width: 332px;
}
.frame-icon {
  width: 354px;
}
.clients-inner,
.frame-parent7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.frame-parent7 {
  flex: 1;
  gap: 51px;
  max-width: 1200px;
}
.clients-inner {
  width: 1164px;
  height: 2372px;
}
.want-to-see1 {
  align-self: stretch;
  position: relative;
  line-height: 75px;
}
.schedule-a-meeting3 {
  position: relative;
  line-height: 28.47px;
  font-weight: 600;
}
.schedule-a-meeting-wrapper1 {
  border-radius: 52.73px;
  background-color: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18.983261108398438px 59.05903625488281px;
  cursor: pointer;
  text-align: left;
  font-size: 16.87px;
  color: #fff;
}
.cta-section1,
.want-to-see-the-kind-of-magic-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.want-to-see-the-kind-of-magic-group {
  width: 100%;
  justify-content: flex-start;
  padding: 0 40px;
  gap: 70px;
  max-width: 1200px;
}
.cta-section1 {
  align-self: stretch;
  background-color: #fff;
  height: 479px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 80px 0;
  text-align: center;
  font-size: 45px;
}
.beetlebugs5 {
  position: relative;
  font-weight: 600;
}
.communications-inc5 {
  position: relative;
  font-size: 22.97px;
}
.beetlebugs-parent2 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: inherit;
}
.fast-growing-dynamic-creativ2 {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 224px;
}
.group-parent3 {
  width: 222px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent9,
.home-parent3,
.quick-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent9 {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  font-size: 34.68px;
}
.home-parent3,
.quick-links-container {
  justify-content: center;
}
.home-parent3 {
  gap: 19px;
  text-align: left;
  font-size: 20px;
}
.quick-links-container {
  overflow: hidden;
  padding: 20px;
  gap: 16px;
  text-align: center;
}
.call-sharp-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div2 {
  position: relative;
}
.call-sharp-container {
  gap: 15px;
  font-family: Arial;
}
.call-sharp-container,
.home-sharp-container,
.metro-manila-philippines-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.metro-manila-philippines-frame {
  width: 172px;
}
.home-sharp-container {
  gap: 22px;
}
.mail-sharp-icon2 {
  position: relative;
  width: 22px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.mail-sharp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.contact-us-container,
.frame-parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent10 {
  justify-content: center;
  gap: 22px;
  font-size: 15px;
}
.contact-us-container {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px;
  gap: 15px;
}
.frame-parent8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
  max-width: 1200px;
}
.beetlebugs-communcations-inc2 {
  position: relative;
  font-size: 16.87px;
  font-weight: 600;
}
.clients5,
.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer2 {
  align-self: stretch;
  background-color: #050505;
  overflow: hidden;
  justify-content: center;
  padding: 60px 0;
  gap: 71px;
  font-size: 24px;
  color: #fff;
}
.clients5 {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  font-size: 37.76px;
  color: #000;
  font-family: Raleway;
}
@media screen and (max-width: 1200px) {
  .our-clients-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .group-parent2 {
    display: none;
  }
  .hamburger-icon2 {
    display: flex;
  }
  .our-clients-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .group-parent2,
  .home-parent2 {
    display: none;
  }
  .hamburger-icon2 {
    display: flex;
  }
  .navbar2 {
    width: 100vw;
  }
  .our-clients1 {
    width: 380px;
    font-size: 30px;
    line-height: 60px;
  }
  .our-clients-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .want-to-see1 {
    font-size: 30px;
    line-height: 50px;
  }
  .schedule-a-meeting-wrapper1 {
    scale: 0.8;
  }
  .frame-parent8 {
    width: auto;
    align-self: unset;
    max-width: 1200px;
  }
}
