@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.beetlebugs4,
.communications-inc4 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.beetlebugs4 {
  font-weight: 600;
  width: 258px;
  height: 36.3px;
}
.communications-inc4 {
  font-size: 25px;
  width: 249px;
  height: 48px;
}
.beetlebugs-parent2 {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.work4 {
  text-decoration: none;
  color: inherit;
}
.about7,
.work4 {
  position: relative;
  cursor: pointer;
}
.work-parent2 {
  width: 406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}
.group-icon16 {
  position: relative;
  width: 38.7px;
  height: 38.7px;
}
.group-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
}
.hamburger-icon2 {
  position: relative;
  width: 42px;
  height: 30px;
  display: none;
}
.frame-parent7,
.navbar2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar2 {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  padding: 26px 40px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 37.76px;
}
.welcome-to-our {
  position: relative;
  line-height: 130%;
  display: inline-block;
  width: 602px;
}
.hero2,
.welcome-to-our-digital-wonderl-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.welcome-to-our-digital-wonderl-wrapper {
  width: 100%;
  align-items: flex-start;
  padding: 80px 40px;
  opacity: 0;
  max-width: 1200px;
}
.welcome-to-our-digital-wonderl-wrapper.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.hero2 {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  padding: 0 40px;
  background-image: url(./public/hero2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 470px;
  font-size: 60px;
  color: #fff;
}
.explore-a-treasure {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 1200;
}
.about8,
.explore-a-treasure-trove-of-me-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.explore-a-treasure-trove-of-me-wrapper {
  flex: 1;
  padding: 0 40px;
  box-sizing: border-box;
  max-width: 1200px;
}
.about8 {
  align-self: stretch;
  background-color: #fff;
  padding: 80px 0;
}
.our-projects {
  position: relative;
  line-height: 27px;
}
.title2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.instance-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 352.9px;
  height: 350.9px;
  object-fit: cover;
}
.project-title6 {
  position: absolute;
  top: 366px;
  left: 127.6px;
  line-height: 28.47px;
  font-weight: 600;
}
.lorem-ipsum-dolor6 {
  position: absolute;
  top: 394.4px;
  left: 25px;
  font-size: 12.66px;
  line-height: 23.2px;
  font-weight: 300;
  display: inline-block;
  width: 302.7px;
}
.rectangle-parent8 {
  position: relative;
  background-color: #fff;
  width: 353.3px;
  height: 513.6px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-child12 {
  position: absolute;
  top: 371px;
  left: 73.7px;
  border-top: 5.2px solid #000;
  box-sizing: border-box;
  width: 206.1px;
  height: 5.2px;
}
.frame-child13,
.instance-child5 {
  position: absolute;
  top: 391.1px;
  left: 61.8px;
  width: 246.3px;
  height: 30.9px;
}
.instance-child5 {
  top: 0;
  left: 0;
  width: 353.2px;
  height: 351.1px;
  object-fit: cover;
}
.project-title7 {
  position: absolute;
  top: 366.2px;
  left: 127.7px;
  line-height: 28.5px;
  font-weight: 600;
}
.lorem-ipsum-dolor7 {
  position: absolute;
  top: 394.7px;
  left: 25px;
  font-size: 12.67px;
  line-height: 23.22px;
  font-weight: 300;
  display: inline-block;
  width: 302.9px;
}
.rectangle-parent10 {
  position: absolute;
  top: 0;
  left: 0.1px;
  background-color: #fff;
  width: 353.6px;
  height: 514px;
  overflow: hidden;
  cursor: pointer;
}
.rectangle-parent9 {
  position: relative;
  background-color: #fff;
  width: 353.3px;
  height: 513.6px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 16.89px;
}
.instance-child6 {
  position: absolute;
  top: 0;
  left: 0.7px;
  width: 353.6px;
  height: 351.6px;
  object-fit: cover;
}
.project-title8 {
  position: absolute;
  top: 366.7px;
  left: 127.9px;
  line-height: 28.53px;
  font-weight: 600;
}
.lorem-ipsum-dolor8 {
  position: absolute;
  top: 395.2px;
  left: 25px;
  font-size: 12.68px;
  line-height: 23.25px;
  font-weight: 300;
  display: inline-block;
  width: 303.3px;
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: -0.7px;
  background-color: #fff;
  width: 354px;
  height: 514.6px;
  overflow: hidden;
  cursor: pointer;
}
.rectangle-parent11 {
  position: relative;
  background-color: #fff;
  width: 353.3px;
  height: 513.6px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 16.91px;
}
.instance-child7 {
  position: absolute;
  top: 0;
  left: 0.6px;
  width: 352.8px;
  height: 350.7px;
  object-fit: cover;
}
.project-title9 {
  position: absolute;
  top: 365.8px;
  left: 127.6px;
  line-height: 28.46px;
  font-weight: 600;
}
.lorem-ipsum-dolor9 {
  position: absolute;
  top: 394.3px;
  left: 25px;
  font-size: 12.65px;
  line-height: 23.19px;
  font-weight: 300;
  display: inline-block;
  width: 302.6px;
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: -0.6px;
  background-color: #fff;
  width: 353.2px;
  height: 513.4px;
  overflow: hidden;
  cursor: pointer;
}
.rectangle-parent13 {
  position: relative;
  background-color: #fff;
  width: 352.9px;
  height: 513.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.instance-child8 {
  position: absolute;
  top: 0;
  left: 0.2px;
  width: 352.8px;
  height: 350.7px;
  object-fit: cover;
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: -0.2px;
  background-color: #fff;
  width: 353.2px;
  height: 513.4px;
  overflow: hidden;
  cursor: pointer;
}
.instance-child9 {
  position: absolute;
  top: 0;
  left: 0.9px;
  width: 352.8px;
  height: 350.7px;
  object-fit: cover;
}
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: -0.9px;
  background-color: #fff;
  width: 353.2px;
  height: 513.4px;
  overflow: hidden;
  cursor: pointer;
}
.home-projects1,
.instance-group,
.latest-work2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.instance-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 68.55px;
}
.home-projects1,
.latest-work2 {
  flex-direction: column;
}
.home-projects1 {
  justify-content: center;
  font-size: 16.87px;
}
.latest-work2 {
  height: 3069.2px;
  justify-content: space-between;
  padding: 80px 0;
  box-sizing: border-box;
}
.beetlebugs5 {
  position: relative;
  font-weight: 600;
}
.communications-inc5 {
  position: relative;
  font-size: 22.97px;
}
.beetlebugs-parent3 {
  height: 58.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fast-growing-dynamic-creativ2 {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 224px;
}
.group-parent3 {
  width: 222px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent9,
.quick-links-container,
.work-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent9 {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  font-size: 34.68px;
}
.quick-links-container,
.work-parent3 {
  justify-content: center;
}
.work-parent3 {
  gap: 19px;
  text-align: left;
  font-size: 20px;
}
.quick-links-container {
  overflow: hidden;
  padding: 20px;
  gap: 16px;
  text-align: center;
}
.call-sharp-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div2 {
  position: relative;
}
.call-sharp-container {
  gap: 15px;
  font-family: Arial;
}
.call-sharp-container,
.home-sharp-container,
.lorem-ipsum-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lorem-ipsum-frame {
  width: 76px;
}
.home-sharp-container {
  gap: 22px;
}
.mail-sharp-icon2 {
  position: relative;
  width: 22px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.mail-sharp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.contact-us-container,
.frame-parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent10 {
  justify-content: center;
  gap: 22px;
  font-size: 15px;
}
.contact-us-container {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px;
  gap: 15px;
}
.frame-parent8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
  max-width: 1200px;
}
.beetlebugs-communcations-inc2 {
  position: relative;
  font-size: 16.87px;
  font-weight: 600;
}
.footer2,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer2 {
  align-self: stretch;
  background-color: #050505;
  overflow: hidden;
  justify-content: center;
  padding: 60px 0;
  gap: 71px;
  color: #fff;
}
.projects {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Raleway;
}
@media screen and (max-width: 1200px) {
  .welcome-to-our-digital-wonderl-wrapper {
    width: 100%;
  }
  .explore-a-treasure {
    max-width: 1200px;
  }
  .explore-a-treasure-trove-of-me-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }
  .title2 {
    margin-bottom: 40px;
  }
  .instance-group {
    padding: 40px;
  }
}
@media screen and (max-width: 960px) {
  .group-parent2 {
    display: none;
  }
  .hamburger-icon2 {
    display: flex;
  }
  .welcome-to-our-digital-wonderl-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .group-parent2,
  .work-parent2 {
    display: none;
  }
  .hamburger-icon2 {
    display: flex;
  }
  .navbar2 {
    width: 100vw;
  }
  .welcome-to-our {
    width: 380px;
    font-size: 30px;
    line-height: 60px;
  }
  .welcome-to-our-digital-wonderl-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .explore-a-treasure {
    font-size: 16px;
    flex: 1;
  }
  .explore-a-treasure-trove-of-me-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .about8 {
    padding: 40px;
  }
  .our-projects {
    font-size: 30px;
  }
  .frame-parent8 {
    width: auto;
    align-self: unset;
    max-width: 1200px;
  }
}
